.App.home{
    /*background-color: #fff;*/
}

.home h1{
    color: #fff;
}

.home p{
    margin-bottom: 0;
}

.panel-btns-wrapper{
    display: flex;
}

.panel-btns-wrapper > *{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin: 10px;
    padding: 30px 60px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid white;
}

.panel-btns-wrapper > *:hover{
    color: #fff;
    background-color: transparent;
}

