.App.visitor,
.App.patient,
.App.doctor{
    background-color: #fff;
}

.App.visitor *,
.App.patient *,
.App.doctor *{
    color: #000;
}

.navbar{
    width: 100vw;
}

.navbar.bg-dark{
    background-color: #282c34 !important;
}

.navbar.bg-dark p{
    color: #fff;
}

.visitor #Logo,
.patient #Logo,
.doctor #Logo{
    width: 30px;
    height: 30px;
}

.App.visitor .custom-panel,
.App.patient .custom-panel,
.App.doctor .custom-panel{
    background-color: #666;
    min-height: calc(100vh - 67px);
    padding: 50px 50px;
}